<% include ../partials/header %>

<div class="container-fluid">
  <div class="form-container jumbotron">
    <h1><%=name %></h1>
    <div class="page-header">
      <h3><%= weather["item"]["condition"]["temp"] %> and <%= weather["item"]["condition"]["text"] %> <small>on <%= weather["item"]["condition"]["date"] %></small></h3>
    </div>
    <div class="forecast">
      <h3>Forecast</h3>
        <% weather["item"]["forecast"].forEach((day)=>{ %>
          <p><%=day["day"] %>- <%=day["text"] %> on <%=day["date"] %></p>
        <% }) %>
    </div>
    <div>
      <h4>Sunrise: <%= weather["astronomy"]["sunrise"] %></h4>
      <h4>Sunset: <%= weather["astronomy"]["sunset"] %></h4>
    </div>
  </div>
</div>

<% include ../partials/footer %>