<% include partials/header %>

<div class="container-fluid">
  <div class="form-container jumbotron">
    <h1><%=name %></h1>
    <div class="page-header">
      <h3><%= weather["item"]["condition"]["temp"] %> and <%= weather["item"]["condition"]["text"] %> <small>on <%= weather["item"]["condition"]["date"] %></small></h3>
    </div>
    <% if (user && !user.locations.includes(name)){ %>
      <form action="/save" method="POST">
        <input type="hidden" name="location" value="<%=name %>">
        <input class="btn btn-success" type="submit" value="Save">
      </form>
    <% } %>
    <div class="forecast">
      <h3>Forecast</h3>
      <p><%=weather["item"]["forecast"][0]["text"] %></p<
    </div<
  </div>

</div>
<% include partials/footer %>
