<% include partials/header %>

<div class="container-fluid">
  <div class="jumbotron form-container">

    <h3><%= name %></h3>

    <div>
      <h5>Current Weather</h5>
      <%=data["item"]["condition"]["temp"] %> and <%=data["item"]["condition"]["text"].toLowerCase() %> on <%=data["item"]["condition"]["date"] %>

    </div>

    <% if (user && !user.locations.includes(name)){ %>
      <form action="/save" method="POST">
        <input type="hidden" name="location" value="<%=name %>">
        <input type="submit" value="Save">
      </form>
    <% } %>
  </div>
</div>
<% include partials/footer %>
